<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--Dao 클래스가 있는 전체 경로를 써주면 됨-->
<mapper namespace="com.example.StartSpring.member.dao.MemberDao">
    <!-- id는 dao에 있는 method명과 mapping-->
    <select id="selectMemberList"
            parameterType="com.example.StartSpring.member.bean.MemberBean"
            resultType="com.example.StartSpring.member.bean.MemberBean">
        SELECT
        id
        ,name as username
        ,password
        ,email
        FROM users
        <where>
            <if test="username != null and username != ''">
                name LIKE CONCAT('%', #{username}, '%')
            </if>
        </where>
        ORDER BY id
        <if test="offset != null and limit != null">
            LIMIT ${offset}, ${limit}
        </if>
    </select>

    <select id="selectLoginMember" parameterType="com.example.StartSpring.member.bean.MemberBean" resultType="com.example.StartSpring.member.bean.MemberBean">
        SELECT
        id
        ,name as username
        ,password
        ,email
        FROM users
        WHERE
            email = #{email}
            AND password = #{password}
    </select>

    <!-- 회원가입 -->
    <insert id="insertUser" parameterType="com.example.StartSpring.member.bean.MemberBean" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users
        (
        name
        ,password
        ,email
        )
        VALUES
        (
        #{username}
        ,#{password}
        ,#{email}
        )
    </insert>

    <update id="updateUser" parameterType="com.example.StartSpring.member.bean.MemberBean">
        UPDATE users
        SET
        name = #{username}
        ,password = #{password}
        <if test="email != '' and email != null">
            ,email = #{email}
        </if>
        WHERE id = #{id}
    </update>

    <delete id="deleteUser" parameterType="com.example.StartSpring.member.bean.MemberBean">
        DELETE
        FROM users
        WHERE id = ${id}
    </delete>
</mapper>